#contact{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 10% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle{
    color:darkturquoise;
    font-size: 56px;
    font-weight: 700;
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name ,.email,.msg{
    font-size: large;
    display: flex;
    width: 100%;
    max-width: 40rem;
    margin:0.5rem;
    padding: 0.5rem,1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(40, 40, 40);
    text-align: center;
    justify-content: center;
   
    
}

.name,.email{
    height: 50px;
}

.name:hover, .email:hover, .msg:hover {
    border: solid 3px lightseagreen;
 
}


.submitBtn{
    background-color: rgb(2, 163, 187);
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    color: aliceblue;
    font-size: large;
    font-weight: 700;
}

.submitBtn:hover{
    background-color: rgb(1, 89, 89);
    color: whitesmoke;
}