.change
{
  height: 800px;
  width: 1300px;
}

.changer
{
  height: 800px;
  width: 1300px;
}

.selectors
{
  height: 800px;
  width: 1300px;
  display: flex;
  gap: 50px;
}

#colors
{
  width: 100px;
  height: 50px;
  margin: 20px;
  border-radius: 5px;

}

